.create-market-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  max-width: 320px;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
}

input, select, textarea {
  box-sizing: border-box;
}

.input-field, .select-dropdown, .datetime-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px !important;
  background-color: var(--primary-background-color) !important;
  color: var(--primary-text-color) !important;
}

.select-dropdown, .datetime-input {
  cursor: pointer;
}

.create-market-button {
  padding: 10px 20px;
  background-color: #2990FF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.create-market-button:hover {
  background-color: #2990FF;
}

@media (min-width: 450px) {
  .create-market-container {
    max-width: 420px;
  }
}