/* src/components/CreateMarket.css */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.create-market-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  max-width: 320px;
  color: #FFFFFF;
}

label {
  font-weight: bold;
}

input, select, textarea {
  box-sizing: border-box;
}

input, .select-dropdown, .datetime-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  background-color: #1E1E1E;
  border: none;
  color: #78797E !important;
}

button {
  padding: 10px 20px;
  background-color: #2990FF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2990FF;
}