.market-card {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--primary-background-color);
  margin-bottom: 1rem;
  border: none;
}

.market-card>h2 {
  margin: 0;
  color: #fff;
}

.market-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.market-controls {
  margin-top: 1rem;
  flex: 1;
}

.market-controls form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.market-controls label {
  font-size: 1.2em;
}

.market-controls input {
  width: 100px;
}


.bet-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.claim-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.claim-label {
  font-size: 1em;
  font-weight: 300;
}

.claim-amount {
  font-size: 3em; /* Adjust this value as needed */
}

button:disabled, button:disabled:hover {
  background-color: grey;
  cursor: not-allowed;
}

.bet-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bet-buttons {
  display: flex;
  gap: 10px;
}

.outcome-one-button {
  background-color: rgba(67, 120, 255, 0.12);
  color: #2990FF;
  border: none;
  border-radius: 12px;
  padding: 23px 31px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.outcome-two-button {
  background-color: rgba(241, 46, 46, 0.12);
  color: #E53935;
  border: none;
  border-radius: 12px;
  padding: 23px 31px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.app {
  padding: 1.2rem;
}

.open-modal-button, .bet-button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.bet-input {
  display: flex;
  gap: 10px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.bet-input input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
}

.bet-input select {
  padding: 5px;
  font-size: 16px;
}

.custom-input {
  display: flex;

  align-items: center;
  border: 1px solid #666;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--primary-background-color);
  color: #ccc; /* Adjust text color if needed */
  padding: 5px;
  width: 100%;
}

.custom-input input {
  border: none;
  padding: 10px;
  background: transparent;
  color: inherit;
  flex-grow: 1;
  font-size: 1rem;
}

.separator {
  width: 1px;
  height: 30px; /* Adjust height as needed */
  background-color: #444;
  margin: 0 10px;
}

.select-container {
  display: flex;
  align-items: center;
  position: relative;
}

.currency-icon {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  margin-right: 5px;
}

.custom-input select {
  border: none;
  background: transparent;
  color: inherit;
  padding: 10px;
  padding-right: 30px; /* To give space for the arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-size: 1rem;
}

.select-container::after {
  content: url("./../assets/chevron.forward.svg");
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: inherit;
}
