.market-card {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: #1E1E1E;
  margin-bottom: 1rem;
  border: none;
}

.market-card>h2 {
  margin: 0;
  color: #fff;
}

.market-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.market-info {
  flex: 1;
}

.market-controls {
  margin-top: 1rem;
  flex: 1;
}

.market-controls form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.market-controls label {
  font-size: 1.2em; /* Adjust this value as needed */
}

.market-controls input {
  width: 100px; /* Adjust this value as needed */
}

.market-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #78797E;
}

.market-details p {
  margin: 5px 0; /* Adjust this value as needed */
}

.bet-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.claim-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.claim-label {
  font-size: 1em;
  font-weight: 300;
}

.claim-amount {
  font-size: 3em; /* Adjust this value as needed */
}

button:disabled, button:disabled:hover {
  background-color: grey;
  cursor: not-allowed;
}

.bet-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bet-buttons {
  display: flex;
  gap: 10px;
}

.outcome-one-button {
  background-color: rgba(67, 120, 255, 0.12);
  color: #2990FF;
  border: none;
  border-radius: 12px;
  padding: 23px 31px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.outcome-two-button {
  background-color: rgba(241, 46, 46, 0.12);
  color: #E53935;
  border: none;
  border-radius: 12px;
  padding: 23px 31px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.app {
  font-family: Arial, sans-serif;
  padding: 1.2rem;
}

.open-modal-button, .bet-button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.bet-input {
  display: flex;
  gap: 10px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.bet-input input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
}

.bet-input select {
  padding: 5px;
  font-size: 16px;
}

.info-row-group {
  margin: 10px 0;
}
.info-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.info-title {
  font-weight: bold;
}

.info-value {
  text-align: right;
}