.market-card {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: #1E1E1E;
  margin-bottom: 1rem;
  border: none;
}

.market-card>h2 {
  margin: 0;
  color: #fff;
}

.market-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.market-info {
  flex: 1;
}

.market-controls {
  flex: 1;
}

.market-controls form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.market-controls label {
  font-size: 1.2em; /* Adjust this value as needed */
}

.market-controls input {
  width: 100px; /* Adjust this value as needed */
}

.market-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.market-details p {
  margin: 5px 0; /* Adjust this value as needed */
}

.resolve-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.resolve-button {
  flex: 1;
  margin: 0 10px;
}

button:disabled, button:disabled:hover {
  background-color: grey;
  cursor: not-allowed;
}