.user-bet-card {
  display: flex;
  border-radius: 5px;
  padding: 16px;
  background-color: #1E1E1E;
  justify-content: space-between;
  border: none;
}

.user-bet-content {
  flex: 1;
}

.market-controls {
  flex: 0;
  align-self: center;
}