.user-bet-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 16px;
  background-color: var(--primary-background-color);
  justify-content: space-between;
  border: none;
}

.user-bet-content {
  flex: 1;
}

.market-controls {
  flex: 0;
  align-self: center;
}

.market-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--primary-text-color);
}

.market-details p {
  margin: 5px 0; /* Adjust this value as needed */
}