.placed-bets {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  max-width: 300px;
  align-self: center;
  margin-bottom: 100px;
}

@media (min-width: 450px) {
  .placed-bets {
    max-width: 420px;
  }
}