body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.centered-text {
  text-align: center;
}