@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Text:wght@400;500;600;700&display=swap');

:root {
  --primary-surface-color: #0F0F0F;
  --primary-background-color: #1E1E1E;
  --primary-text-color: #78797E;
  --font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-surface-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Disable any default behavior on iOS */
input[type="text"],
input[type="number"],
input[type="email"],
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
}

/* Prevent long-press to select text */
input[type="text"]::selection,
input[type="number"]::selection,
input[type="email"]::selection {
    background: none;
}

/* Use in market-card in different components */
.info-row-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  
  gap: 10px;
  margin: 10px 0;

  color: var(--primary-text-color);
}

.info-row-group p {
  margin: 5px 0;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.info-title {
  font-weight: bold;
}

.info-value {
  text-align: right;
}

/* Use for text in different components */
.centered-text {
  text-align: center;
}

.blue-text {
  color: #2990FF;
}

.red-text {
  color: #E53935;
}

.white-text {
  color: #fff;
}